# Import Libraries

In [43]:
import pandas as pd

# Obtain Data

Read csv file with player info into players_df, reformat 'Team' column and create 'Name-Team' column

In [44]:
players_df = pd.read_csv('players.csv')
print(players_df.shape)
players_df['Team'] = players_df['Team'].apply(lambda x: x.replace('-', ' ').title())
players_df['Name-Team'] = players_df['Name'] + ' / ' + players_df['Team']
players_df.head()

(4755, 3)

                 Name Position     Team                     Name-Team
0     Corey Davis Jr.        G  Houston     Corey Davis Jr. / Houston
1       Armoni Brooks        G  Houston       Armoni Brooks / Houston
2  Galen Robinson Jr.        G  Houston  Galen Robinson Jr. / Houston
3         Nate Hinton        G  Houston         Nate Hinton / Houston
4       Dejon Jarreau        G  Houston       Dejon Jarreau / Houston

Read csv files with player stats into stats_df, reformat 'Team' column and create 'Name-Team' column

In [45]:
stats_df = pd.read_csv('stats.csv')
stats_df['Team'] = stats_df['Team'].apply(lambda x: x.replace('-', ' ').title())
stats_df['Name-Team'] = stats_df['Name'] + ' / ' + stats_df['Team']
stats_df.drop(columns=['Name','Team'], inplace=True)
print(stats_df.shape)
stats_df.head()

(4754, 25)

,G,GS,MP,FG,FGA,FG%,2P,2PA,2P%,3P,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Name-Team
0,37,36,33.0,5.5,13.0,0.420,2.5,5.0,0.492,3.0,...,0.7,2.6,3.3,2.8,1.0,0.1,1.5,1.8,17.0,Corey Davis Jr. / Houston
1,37,36,30.7,4.6,11.5,0.405,1.4,3.1,0.443,3.3,...,1.1,5.2,6.3,0.9,0.8,0.3,0.9,1.6,13.4,Armoni Brooks / Houston
2,30,0,18.0,3.0,6.4,0.471,2.6,5.3,0.494,0.4,...,0.3,3.4,3.8,3.3,0.6,0.5,2.1,2.3,8.7,Dejon Jarreau / Houston
3,37,37,29.9,2.8,6.3,0.449,2.1,4.2,0.500,0.8,...,0.5,2.6,3.1,4.9,1.3,0.1,1.7,1.4,8.0,Galen Robinson Jr. / Houston
4,37,1,19.2,2.4,5.9,0.413,1.7,3.6,0.459,0.8,...,1.1,3.3,4.4,1.2,1.0,0.1,0.9,1.5,7.2,Nate Hinton / Houston

Merge tables with player data and player stats together into df

In [46]:
df = pd.merge(players_df, stats_df, how='inner', on='Name-Team')
print(df.shape)
df.head()

(4753, 28)

,Name,Position,Team,Name-Team,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Corey Davis Jr.,G,Houston,Corey Davis Jr. / Houston,37,36,33.0,5.5,13.0,0.420,...,0.869,0.7,2.6,3.3,2.8,1.0,0.1,1.5,1.8,17.0
1,Armoni Brooks,G,Houston,Armoni Brooks / Houston,37,36,30.7,4.6,11.5,0.405,...,0.630,1.1,5.2,6.3,0.9,0.8,0.3,0.9,1.6,13.4
2,Galen Robinson Jr.,G,Houston,Galen Robinson Jr. / Houston,37,37,29.9,2.8,6.3,0.449,...,0.667,0.5,2.6,3.1,4.9,1.3,0.1,1.7,1.4,8.0
3,Nate Hinton,G,Houston,Nate Hinton / Houston,37,1,19.2,2.4,5.9,0.413,...,0.857,1.1,3.3,4.4,1.2,1.0,0.1,0.9,1.5,7.2
4,Dejon Jarreau,G,Houston,Dejon Jarreau / Houston,30,0,18.0,3.0,6.4,0.471,...,0.694,0.3,3.4,3.8,3.3,0.6,0.5,2.1,2.3,8.7

# Scrub Data

Create df.info() overview of df to determine what scrubbing needed

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4753 entries, 0 to 4752
Data columns (total 28 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       4753 non-null   object
 1   Position   4751 non-null   object
 2   Team       4753 non-null   object
 3   Name-Team  4753 non-null   object
 4   G          4753 non-null   int64
 5   GS         4753 non-null   int64
 6   MP         4753 non-null   float64
 7   FG         4753 non-null   float64
 8   FGA        4753 non-null   float64
 9   FG%        4617 non-null   float64
 10  2P         4753 non-null   float64
 11  2PA        4753 non-null   float64
 12  2P%        4502 non-null   float64
 13  3P         4753 non-null   float64
 14  3PA        4753 non-null   float64
 15  3P%        4002 non-null   float64
 16  FT         4753 non-null   float64
 17  FTA        4753 non-null   float64
 18  FT%        4262 non-null   float64
 19  ORB        4753 non-null   float64
 20  DRB        4753 non-null   float64
 21  TRB        4753 non-null   float64
 22  AST        4753 non-null   float64
 23  STL        4753 non-null   float64
 24  BLK        4753 non-null   float64
 25  TOV        4753 non-null   float64
 26  PF         4753 non-null   float64
 27  PTS        4753 non-null   float64
dtypes: float64(22), int64(2), object(4)
memory usage: 1.1+ MB

Replace missing position values with results from looking these up in alternative sources

In [48]:
df.loc[[2830, 3597],'Position']='G'
df[df['Position'].isnull()]

Empty DataFrame
Columns: [Name, Position, Team, Name-Team, G, GS, MP, FG, FGA, FG%, 2P, 2PA, 2P%, 3P, 3PA, 3P%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 28 columns]

Replace missing 'FG%' values with 0 to represent that these players had not attempted any field goals

In [49]:
df['FG%'] = df['FG%'].fillna(value=0)
df[df['FG%'].isnull()]

Empty DataFrame
Columns: [Name, Position, Team, Name-Team, G, GS, MP, FG, FGA, FG%, 2P, 2PA, 2P%, 3P, 3PA, 3P%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 28 columns]

Replace missing '2P%' values with 0 to represent that these players had not attempted any 2P field goals

In [50]:
df['2P%'] = df['2P%'].fillna(value=0)
df[df['2P%'].isnull()]

Empty DataFrame
Columns: [Name, Position, Team, Name-Team, G, GS, MP, FG, FGA, FG%, 2P, 2PA, 2P%, 3P, 3PA, 3P%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 28 columns]

Replace missing '3P%' values with 0 to represent that these players had not attempted any 3P field goals

In [51]:
df['3P%'] = df['3P%'].fillna(value=0)
df[df['3P%'].isnull()]

Empty DataFrame
Columns: [Name, Position, Team, Name-Team, G, GS, MP, FG, FGA, FG%, 2P, 2PA, 2P%, 3P, 3PA, 3P%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 28 columns]

Replace missing 'FT%' values with 0 to represent that these players had not attempted any FTs

In [53]:
df['FT%'] = df['FT%'].fillna(value=0)
df[df['FT%'].isnull()]

Empty DataFrame
Columns: [Name, Position, Team, Name-Team, G, GS, MP, FG, FGA, FG%, 2P, 2PA, 2P%, 3P, 3PA, 3P%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 28 columns]

Update Positional string values to numerical values and merge the single instance of 'D' class into 'C' class based on player research in alternative sources

In [61]:
print(df['Position'].value_counts())
position_dict = {'G': 1, 'F': 2, 'C': 3, 'D': 3}
df['Position'] = df['Position'].replace(position_dict)
df.head()

G    2767
F    1750
C     235
D       1
Name: Position, dtype: int64

,Name,Position,Team,Name-Team,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Corey Davis Jr.,1,Houston,Corey Davis Jr. / Houston,37,36,33.0,5.5,13.0,0.420,...,0.869,0.7,2.6,3.3,2.8,1.0,0.1,1.5,1.8,17.0
1,Armoni Brooks,1,Houston,Armoni Brooks / Houston,37,36,30.7,4.6,11.5,0.405,...,0.630,1.1,5.2,6.3,0.9,0.8,0.3,0.9,1.6,13.4
2,Galen Robinson Jr.,1,Houston,Galen Robinson Jr. / Houston,37,37,29.9,2.8,6.3,0.449,...,0.667,0.5,2.6,3.1,4.9,1.3,0.1,1.7,1.4,8.0
3,Nate Hinton,1,Houston,Nate Hinton / Houston,37,1,19.2,2.4,5.9,0.413,...,0.857,1.1,3.3,4.4,1.2,1.0,0.1,0.9,1.5,7.2
4,Dejon Jarreau,1,Houston,Dejon Jarreau / Houston,30,0,18.0,3.0,6.4,0.471,...,0.694,0.3,3.4,3.8,3.3,0.6,0.5,2.1,2.3,8.7

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4753 entries, 0 to 4752
Data columns (total 28 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Name       4753 non-null   object
 1   Position   4753 non-null   int64
 2   Team       4753 non-null   object
 3   Name-Team  4753 non-null   object
 4   G          4753 non-null   int64
 5   GS         4753 non-null   int64
 6   MP         4753 non-null   float64
 7   FG         4753 non-null   float64
 8   FGA        4753 non-null   float64
 9   FG%        4753 non-null   float64
 10  2P         4753 non-null   float64
 11  2PA        4753 non-null   float64
 12  2P%        4753 non-null   float64
 13  3P         4753 non-null   float64
 14  3PA        4753 non-null   float64
 15  3P%        4753 non-null   float64
 16  FT         4753 non-null   float64
 17  FTA        4753 non-null   float64
 18  FT%        4753 non-null   float64
 19  ORB        4753 non-null   float64
 20  DRB        4753 non-null   float64
 21  TRB        4753 non-null   float64
 22  AST        4753 non-null   float64
 23  STL        4753 non-null   float64
 24  BLK        4753 non-null   float64
 25  TOV        4753 non-null   float64
 26  PF         4753 non-null   float64
 27  PTS        4753 non-null   float64
dtypes: float64(22), int64(3), object(3)
memory usage: 1.2+ MB

# Explore data